
ConnectionLogs/bin/Release/net7.0/publish/McMaster.NETCore.Plugins.dll
ConnectionLogs/bin/Release/net7.0/publish/CounterStrikeSharp.API.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.DotNet.PlatformAbstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.Binder.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.CommandLine.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.FileExtensions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.Json.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Configuration.UserSecrets.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.DependencyInjection.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.DependencyModel.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Serilog.Extensions.Logging.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.FileProviders.Physical.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Hosting.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Localization.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.Console.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.Debug.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.EventSource.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.EventLog.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Options.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Primitives.dll
ConnectionLogs/bin/Release/net7.0/publish/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
ConnectionLogs/bin/Release/net7.0/publish/Scrutor.dll
ConnectionLogs/bin/Release/net7.0/publish/Serilog.dll
ConnectionLogs/bin/Release/net7.0/publish/Serilog.Sinks.Console.dll
ConnectionLogs/bin/Release/net7.0/publish/Serilog.Sinks.File.dll
ConnectionLogs/bin/Release/net7.0/publish/System.Diagnostics.EventLog.dll
ConnectionLogs/bin/Release/net7.0/publish/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Logging.Configuration.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.Hosting.Abstractions.dll
ConnectionLogs/bin/Release/net7.0/publish/Microsoft.Extensions.FileSystemGlobbing.dll
